tags
*.o
/bin/lglayout2D
/bin/lglayout3D
/bin/lglbreakup
/bin/lglfileconvert
/bin/lglrebuild
/testrun/the_internet/setup.cfg
/testrun/the_internet/tmp
/testrun/the_internet/*.tmp
/testrun/the_internet/*.out
/testrun/test-June-10/setup.cfg
/testrun/test-June-10/tmp
/testrun/test-June-10/*.tmp
/testrun/test-June-10/*.out
**/*.class
install_perl.log
**/*.Po
**/*.0
**/*.1
src/autom4te.cache
testrun/bview_*/
src/lglbreakup
src/lglfileconvert
src/lglayout
src/lglrebuild
**/*.pyx