name: C++ build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: "Configure and make (C++)"
      run: |
        cd src
        ./configure
        make 
